$f-title: "Eina02-Bold", sans-serif;
$f-subtitle: "Roboto-Regular", sans-serif;
$f-text: "Roboto-Regular", sans-serif;

$black: #141414;
$grey-s1: #f0f1f4;
$grey-s2: #e5e8eb;
$grey-s3: rgba(20, 20, 20, 0.48);
$grey-s4: rgba(20, 20, 20, 0.64);
$lavender-s1: #f7f3fc;
$lavender-s2: #ece0f8;
$lavender-s3: #d7b5f9;
$lavender-s4: #b07ce4;
$mint-s1: #f3fcf9;
$mint-s2: #e2f7f0;
$mint-s3: #bcf5e2;
$mint-s4: #81ecc8;
$primary-s1: #efedfc;
$primary-s2: #d0caf7;
$primary-s3: #9182eb;
$primary-s4: #624de3;
$primary-shadow: rgba(197, 180, 248, 0.45);
$salmon-s1: #fdf5f5;
$salmon-s2: #fae6e5;
$salmon-s3: #fbb;
$salmon-s4: #e88282;
$salmon-shadow: rgba(255, 171, 171, 0.45);
$secondary-s1: #f4f8fe;
$secondary-s2: #e0e9f7;
$secondary-s3: #b1cdf7;
$secondary-s4: #76a4e8;
$secondary-shadow: rgba(176, 213, 248, 0.45);
$white: #fff;
$yellow-s1: #fffbf5;
$yellow-s2: #fff3dc;
$yellow-s3: #fdeac6;
$yellow-s4: #fcd894;

$box-shadow: 0 12px 16px 0 rgba(237, 242, 251, 0.71);

$elevation-1: 0 2px 2px 0 rgba(100, 109, 130, 0.08), 0 1px 1px 0 rgba(100, 109, 130, 0.1);
$elevation-2: 0 2px 4px 0 rgba(100, 109, 130, 0.14), 0 0 1px 0 rgba(100, 109, 130, 0.1);
$elevation-3: 0 4px 10px 0 rgba(100, 109, 130, 0.14), 0 0 1px 0 rgba(100, 109, 130, 0.1);
$elevation-4: 0 8px 14px 0 rgba(100, 109, 130, 0.16), 0 0 2px 0 rgba(100, 109, 130, 0.12);
$elevation-5: 0 18px 20px 0 rgba(100, 109, 130, 0.16), 0 0 2px 0 rgba(100, 109, 130, 0.12);
$border-radius: 2px;
$border-radius-double: 4px;
$border-width: 1px;
$base-padding: 1rem;
$base-border: 1px solid rgba(20, 20, 20, 0.06);
$box-shadow-idle: 0 0 2px 0 rgba(20, 20, 20, 0.05);
$box-shadow-active: 0 4px 12px 0 rgba(20, 20, 20, 0.06);
$border-style: 1px solid $grey-s2;
